.section
  .container
    .columns.is-centered
      .column.is-4
        .box
          %h1.title.has-text-centered Resend confirmation instructions
          
          = render "devise/shared/error_messages", resource: resource
          
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            .field
              = f.label :email, class: "label"
              .control
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
            
            .field
              .control
                = f.submit "Resend confirmation instructions", class: "button is-primary is-fullwidth"
        
        = render "devise/shared/links" 